body {
font: 10px sans-serif;
background-color: transparent;
}
.group-tick line {
stroke: #000;
}
.ribbons {
fill-opacity: 0.67;
}
.svg-container {
display: inline-block;
position: relative;
width: 100%;
/*padding-bottom: 100%;*/
vertical-align: top;
overflow: hidden;
height:100vh;

}
.svg-content {
display: inline-block;
position: absolute;
top: 0;
left: 0;
/*      bottom: 0;
right: 0;*/
margin-left: auto;
margin-right: auto;
}

pre {
 display:none;
}
